/* CSS styles the HTML page */

body { 
    background-color: #e5d7b8;
    font-family: "Times New Roman", Times, serif, helvetica,  verdana, gotham, sans-serif;
}


header {
    /*
    background-image:  url(../images/3labs_faces.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */

    text-align: center;
}

header h1 {
    font-size: 40px;
    
}

header h2{
    font-size: 30px;
    text-shadow: 3px 2px magenta;
}



nav {
    background-color: goldenrod;
}

nav a:link {
    display: block;
    color: black;
    text-decoration: none;
}

nav a:visited {
    background-color: gray;
    color: blue;
}

nav a:hover {
    background-color: #eee;
    color: black;
}

nav a:active{
    background-color: red;
}

nav ul li {
    display: inline-block;
    padding: 10px;

}
/*
img {
    align-items: flex-end;
}
*/

article {
    padding: 20px;
}

article h3 {
    font-size: 15px;
}
article img {
    width: 100%;
    max-width: 1200px;
}


.column {
    float: left;
}

.column.left {
    width: 25%;
}

.column.right {
    width: 75%;
}

.row1 {
    width: 100%;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

footer {
    position: relative;
    background-color:#000;
    color: #fff;
    padding: 10px;
}
